.mySwiper {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.mySwiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper_opacity {
    position: relative;
    width: 100%;
    height: 100vh;
}

.swiper_opacity_block {
    position: absolute;
    background: rgba(3, 20, 38, 0.7);
    z-index: 2;
    width: 100%;
    height: 100%;
}

.header_content {
    position: absolute;
    top: 30%;
    z-index: 3;
    color: white;
    width: 45%;
}

.header_content h1 {
    font-size: 60px;
}

.header_content p {
    font-size: 22px;
}

.btn {
    width: 150px;
    height: 30px;
    background: rgba(255, 255, 255, 0.3);
    color: #031426;
    padding: 8px;
    text-decoration: none;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn p {
    margin-left: 10px;
    color: white;
}

.arrowBtn {
    background: white;
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.btn:hover .arrowBtn {
    background: #031426;
    color: white;
}

section {
    margin-top: 50px !important;
}

section h1 {
    width: 80%;
    font-size: 30px;
    color: #fff;
}

.about h1 span {
    background: linear-gradient(to right, #1AA0EA 0%, #E4007D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.about-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about ul {
    padding: 0;
    list-style: none;
    display: flex;
    width: 45%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about ul li {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px #bebebe solid;

    padding: 10px 0;
    color: white;
}

.about ul li svg {
    margin-right: 10px;
    font-size: 20px;
}

.about ul li:hover {
    color: lightgreen;
}

.calc{
    width: 100%;
    background: white;
}
.calc-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}
.calc-box form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.calc-box .box-input{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.calc-box input , .calc-box Select{
    width: 100%;
    height: 50px;
    /*margin: 10px 0;*/
}
.input{
    width: 100%;
}
.priceCalc-send{
    margin-top: 25px;
    width: 100%;
}
.priceCalc-send button{
    width: 200px;
    padding: 20px 0;
    border: none;
    outline: none;
    background: #0e2431;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
.calc-box h1{color: #031426;
    font-weight: 500; text-align: center}
.calc-box h1 span{
    background: linear-gradient(to right, #1AA0EA 0%, #E4007D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
}



@media screen and (max-width: 800px) {
    .header_content {
        width: 90%;
        top: 20%
    }
    .header_content h1{
        font-size: 40px;
    }
    .header_content p {
        font-size: 18px;
    }

    section h1{
        width: 100%;
        font-size: 18px;
    }
    .about-list{flex-direction: column}
    .about ul{width: 100%}
    .calc-box form{
        flex-direction: column;
    }
    .calc-box .box-input{
        width: 100%;
    }
    .input{

    }
}