.mySwiper {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.mySwiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper_opacity {
    position: relative;
    width: 100%;
    height: 100vh;
}

.swiper_opacity_block {
    position: absolute;
    background: rgba(3, 20, 38, 0.7);
    z-index: 2;
    width: 100%;
    height: 100%;
}

.header_content {
    position: absolute;
    top: 30%;
    z-index: 3;
    color: white;
    width: 45%;
}

.header_content h1 {
    font-size: 60px;
}

.header_content p {
    font-size: 22px;
}

.btn {
    width: 150px;
    height: 30px;
    background: rgba(255, 255, 255, 0.3);
    color: #031426;
    padding: 8px;
    text-decoration: none;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn p {
    margin-left: 10px;
    color: white;
}

.arrowBtn {
    background: white;
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.btn:hover .arrowBtn {
    background: #031426;
    color: white;
}

section {
    margin-top: 50px !important;
}

.about h1 {
    width: 80%;
    font-size: 30px;
    color: #bebebe;
}

.about h1 span {
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about ul {
    padding: 0;
    list-style: none;
    display: flex;
    width: 45%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about ul li {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px #bebebe solid;

    padding: 10px 0;
    color: white;
}

.about ul li svg {
    margin-right: 10px;
    font-size: 20px;
}

.about ul li:hover {
    color: lightgreen;
}

@media screen and (max-width: 800px) {
    .header_content {
        width: 90%;
        top: 20%
    }

    .header_content p {
        font-size: 18px;
    }

    .about h1{
        width: 100%;
        font-size: 18px;
    }
    .about-list{flex-direction: column}
    .about ul{width: 100%}
}