.download_excel_btn{
    width: 100%;
    height: 60px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.download_excel_btn button{
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    background: #24b724;
    color: white;
    padding: 16px 20px;
    border-radius: 20px;
    font-weight: 600;
}

.update_btn{
    background: #FEC400;
    color: #031426;
    border: none;
    padding: 18px 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}
.year_btn{
    background: #24b724;
    color: #031426;
    border: none;
    padding: 18px 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}
.ant-modal-footer{
    display: none;
}
.ant-modal-body input{
    margin-bottom: 20px;
}
.ant-modal-body button{
    width: 40%;
    background: #24b724;
    font-weight: 500;
    margin-top: 10px;
}

.Create_User_Btn{
    width: 20%;
    height: 50px;
    margin: 20px 0;
}

.update_userList_btns{

    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.update_userList_btns button{
    margin-top: 10px;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}
.update_userList_btns button:nth-child(2){background: red;}