/* Navbar */

.navbar {

    padding-bottom: 1px;
    border-bottom: solid 1px #e8e8e8;
    background-color: white;
    box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.12),
    0 6px 16px -11px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    z-index: 99990;
}

.nav-header {
    background-color: white;
    border-bottom: 0;
    padding: 0 4px 0 24px;
}

.logo-layout {
    width: 110px;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-layout img{
    width: 100%;
    height: 100%;
}
.logo-layout a {
    display: inline-block;
    font-size: 20px;
    text-transform: capitalize;
}
.logo-layout h3{
    margin: 0;}
.navbar-menu {
    width: calc(100% - 200px);
    float: left;
}
.navbar-menu .ant-layout-header {
    padding: 0 20px;
}

.navbar-menu .ant-menu-horizontal {
    border-bottom: 0;
}

.navbar-menu .ant-menu-item {
    padding-bottom: 0px;
}

.navbar-menu .leftMenu {
    float: left;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-menu .leftMenu ul{
    width: 100%;
    display: flex;
    justify-content: center;
}
.navbar-menu .rightMenu {
    float: right;
    width: 150px;
}

.menuButton {
    float: right;
    height: 32px;
    padding: 6px;
    margin-top: 14px;
    display: none;
    background: none;
    margin-right: 10px;
}

.ant-drawer-body {
    padding: 0;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
    display: inline-block;
    width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
    border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
    border-bottom-color: transparent;
}

.username {
    display: block;
    margin-right: 8px;
}


@media (max-width: 767px) {
    .menuButton {
        display: block;
        margin-right: 10px;
    }

    .leftMenu,
    .rightMenu ,
    .navbar-menu .leftMenu ul{
        display: none;
    }

    .logo-layout a {
        margin-left: -10px;
    }

    .ant-drawer-title > .brand-font {
        margin-bottom: 0;
    }

    .username {
        display: inline-block;
    }
}

/* Navbar End */