@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --index_coler:#031426,
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #031426;
    font-family: "Inter", sans-serif;

}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}