.footer {
    background: #031426;
    color: white;
    width: 100%;
    height: 100%;
}

.footer-box {
    width: 100%;
    height: 400px;
    padding: 35px 0;
    display: flex;
}

.footer-box-left, .footer-box-right {
    width: 48%;
    height: 100%;
}

.footer-box-left {
    /*-webkit-filter: grayscale(100%);*/
    /*filter: grayscale(50%);*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    float: left;
}

.footer-box-right {
    display: flex;
    flex-direction: column;
    float: right;
    margin-left: 30px;
}

.footer-box-right-top {
    width: 95%;
    height: 40%;
    background: #f7f8f9;
    padding: 15px;
    border-radius: 15px;

}
.footer-box-right-top h1{
    color: #031426;
    width: 100%;
    font-size: 40px;
}
.footer-box-right-top p{
    color: #939393;
}
.footer-box-right-bottom{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
a {
    text-decoration: none;
}

.button,
.button i {
    position: relative
}

.button {

    width: 50%;
    display: inline-block;
    cursor: pointer;
    outline: 0;
    white-space: nowrap;
    margin: 5px;
    padding: 5px 26px;
    font-size: 16px;
    height: 46px;
    line-height: 46px;
    color: #000;
    font-weight: 300;
    letter-spacing: 1px;
    border: none;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: white !important;
}

.button svg {
    top: 1px;
    line-height: 1;
    margin-right: 5px;
    width: 16px;
    text-align: center
}

.button span {
    text-align: center;
    display: block;
    vertical-align: middle;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

.button:hover span:first-child,
.button span:last-child {
    opacity: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.button:hover span:last-child {
    opacity: 1;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

.gradient-border {
    background: #031426;
    position: relative;
    border-radius: 0;
    border-radius: 15px;
}





@media screen and (max-width: 800px){
    .footer{height: auto ;
        padding-bottom: 100px;
    }
    .footer-box{
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .footer-box-right-top h1{
        font-size: 35px;
    }
    .footer-box-left , .footer-box-right{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-box-left{
        height: 300px;
    }
    .footer-box-right{
        margin: 0;

    }
    .footer-box-right-top{
        margin-top: 30px;
    }
    .footer-box-right-bottom{
        flex-direction: column;
        margin-top: 10px;
    }
    .footer-box-right-bottom .button{
        width: 100%;
        margin: 10px 0;
        padding: 0;
    }
}