.products_table{
    margin-bottom: 100px;

}
.download_excel_btn{
    width: 100%;
    height: 60px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.download_excel_btn button{
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    background: #24b724;
    color: white;
    padding: 16px 20px;
    border-radius: 20px;
    font-weight: 600;

}